#first{
    height: 330px;
    width: 525px;
    background-color: white;
}

#out{
    height: 900px;
    width: 1500px;
    margin-top: 50px;
    background-color: #f8e5eb;
    position: absolute;
    left:35%;
    margin-left: -500px;
}

#head{
    width:1500px;
    height: 50px;
    position: absolute;
    left:35%;
    margin-left: -500px;
    background-color:#9c9b97 ;
}

#inner{
    width: 500px;
    height: 50px;
    background-color: whitesmoke;
    position: absolute;
    left:35%;
    
    text-align: center;
}

#second{
    height: 300px;
    width: 525px;
    background-color: white;
    margin-left: 525px;
}

p{
    font-size: 20px;
}

#third{
    height: 250px;
    width: 475px;
    background-color: white;
    margin-left: 1050px;
}